# Port for pgAdmin web interface
PGADMIN_PORT=8101

# Container Configuration
CONTAINER_NAME=pgadmin

# pgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_this_password

# Nginx Reverse Proxy Configuration (uncomment when using HTTPS)
# PGADMIN_CONFIG_SESSION_COOKIE_SECURE=True
# PGADMIN_CONFIG_OVERWRITE_REDIRECT_URI=True
